body {
    width: 295px;
    margin: 15px;
    font-size: 15px;
    font-style: normal;
    background-color: white;
}

.txt-right {
    text-align: right;
}

.f-right {
    float: right;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    cursor: pointer;
    display: inline-block;
    -webkit-appearance: none!important;
    border-radius: .125rem;
    border: 1px solid #0079b8;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 1.5rem;
    letter-spacing: .12em;
    font-size: .7rem;
    font-weight: 500;
    height: 2rem;
    padding: 0 .5rem;
    background-color: transparent;
    color: #0079b8;
    margin: .25rem .5rem .25rem 0;
}

/*min-width: 3rem;*/
/*max-width: 15rem;*/

.btn-primary {
    border-color: #2f8400;
    background-color: #2f8400;
    color: #fff;
}

.btn-primary .btn:hover, .btn.btn-primary:hover {
    background-color: #266900;
    color: #e1f1f6;
}

.btn-success {
    border-color: #308300;
    background-color: transparent;
    color: #308300;
}

.btn-success .btn:hover,
.btn.btn-success:hover {
    background-color: #dff0d0;
    color: #1d5100;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.btn-default .btn:hover,
.btn.btn-default:hover {
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}



.block {
    display: block;
    width: 100%;
}

.input {
    display: block;
    width: 94%;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    margin-top: 6px;
}

.input.new-prop {
    display: inline-block;
    width: 84%;
}

.btn-remove-new-prop {
    margin: 0 0 0 .25rem;
}
